.black{
    background-color : black;
    color : rgb(231, 216, 216);
}
.ash{
    background-color : rgb(138, 211, 169);
    color :black;
}
.component2{
    background-color : black;
    color : red;
    padding : 20px;
}