.black{
    background-color : black;
    color : rgb(231, 216, 216);
}
.ash{
    background-color : rgb(138, 211, 169);
    color :black;
}
.component2{
    background-color : black;
    color : red;
    padding : 20px;
}
.button {
    padding : 20px;
    margin : 3px;
    color : white;
    background-color: rgb(12, 110, 78);
}