<!DOCTYPE HTML>
<html>
    <head>
        <title>Template Base</title>
    </head>
    
    <body>
        <h1>Hola mundo desde Django</h1>
        <h2>con Templates. Esta es una prueba usando templates y contexto en el view</h2>
        {{request.user}}
        <br>
        {{request.user.is_authenticated}}
        {% for usuario in personasRegistradas %}
        <ul>
            <li> {{usuario.nombres}}</li>
        </ul>
        {% endfor%}
        <h1> Lista de personas de signo aries </h1>
        {% for usuario in personasRegistradas %}
        <ul>
            {% if usuario.signo == "Aries" %} 
            <li> {{forloop.counter}}.- {{usuario.nombres}}</li>
            {% endif %}
            
        </ul>
        {% endfor%}
    </body>
</html>