<html>
    <head>
        <title> Prueba de operadores de tags if en django</title>
    </head>
    <body>
        <h1> Pruebas con filtros a las variables de django </h1>
        
        <ol>
            <li><h2>  <strong>Filter Upper</strong> </h2></li>
            <p1> Convierte una cadena de texto a mayúsculas - hello world</p1>
            <h3> {{ "hello world" | upper }} </h3>
            <br> </br>
            <li><h2>  <strong>Filter Lower</strong> </h2></li>
            <p1> Convierte una cadena de texto a minúsculas. - HELLO WORLD</p1>
            <h3> {{ "HELLO WORLD" | lower }} </h3>
        </ol>
    </body>
</html>