<html>
    <head>
        <title> Prueba de operadores de tags if en django</title>
    </head>
    <body>
        <h1> Pruebas con los operadores de if </h1>
        <ol>
            <li> <strong>Operador == </strong></li>
            <h2> Elementos de Verduras</h2>
            <ul>
                {% for categoria in categorias %}
                    {% if categoria.nombre == 'Verduras' %}
                        {% for item in categoria.items %}
                            <li> {{forloop.counter}} .- {{item}} </li>
                        {% endfor %}
                    {% endif%}
                {% endfor %}
            </ul> 
            <br> </br>
            <li> <strong>Operador != </strong></li>
            <h2> Elementos de frutas (no elementos de verduras)</h2>
            <ul>
                {% for categoria in categorias %}
                    {% if categoria.nombre != 'Verduras' %}
                        {% for item in categoria.items %}
                            <li> {{forloop.counter}} .- {{item}} </li>
                        {% endfor %}
                    {% endif%}
                {% endfor %}
            </ul> 
            <br> </br>
            <li> <strong>Operador != </strong></li>
            <h2> Elementos de frutas (no elementos de verduras)</h2>
            <ul>
                {% for categoria in categorias %}
                    {% if categoria.nombre != 'Verduras' %}
                        {% for item in categoria.items %}
                            <li> {{forloop.counter}} .- {{item}} </li>
                        {% endfor %}
                    {% endif%}
                {% endfor %}
            </ul> 
            <br> </br>
            <li> <strong>Operador > </strong></li>
            <h2> Menores de 20 años en usuarios</h2>
            <ul>
                {% for persona in personasRegistradas %}
                    {% if 20 > persona.edad %}
                        <li> {{forloop.counter}} .- {{persona.nombres}} {{persona.edad}}</li>
                    {% endif%}
                {% endfor %}
            </ul> 
            <br> </br>
            <li> <strong>Operador < </strong></li>
            <h2> Personas adultas mayores</h2>
            <ul>
                {% for persona in personasRegistradas %}
                    {% if 22 < persona.edad %}
                        <li> {{forloop.counter}} .- {{persona.nombres}} {{persona.edad}}</li>
                    {% endif%}
                {% endfor %}
            </ul> 
            <br> </br>
            <li> <strong>Operador in </strong></li>
            <h2> Lista de personas con edad de nombre Paz</h2>
            <ul>
                {% for persona in personasRegistradas %}
                    {% if 22 < persona.edad %}
                        <li> {{forloop.counter}} .- {{persona.nombres}} {{persona.edad}}</li>
                    {% endif%}
                {% endfor %}
            </ul> 
            <br> </br>
            <li><strong>Operador not in</strong></li>
            <h2>Lista de personas que no se llaman Paz</h2>
            <ul>
                {% for persona in personasRegistradas %}
                    {% if "Paz" not in persona.nombres %}
                        <li>{{ forloop.counter }} .- {{ persona.nombres }} {{ persona.edad }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <br> </br>
            <li><strong>Operador is</strong></li>
            <h2>Verificar si una persona es la misma que otra</h2>
            <ul>
                {% for persona in personasRegistradas %}
                    {% if persona is persona_especifica %}
                        <li>{{ forloop.counter }} .- {{ persona.nombres }} es la persona especifica</li>
                    {% else %}
                        <li>{{ forloop.counter }} .- {{ persona.nombres }} no es la persona especifica</li>
                    {% endif %}
                {% endfor %}
            </ul>

        </ol>
    </body>
</html>